{
  "$schema": "https://swc.rs/schema.json",
  "module": {
    "type": "es6"
  },
  "jsc": {
    "parser": {
      "syntax": "typescript"
    },
    "target": "es5"
  },
  "sourceMaps": true,
  "isModule": true
}